/**
 * This CSS file supplements MediaWiki:Common.css
 * This styling is for the output of the SummaryTimeline parser function
 */

body { 
  font-family: sans-serif; 
}

#summary-timeline-compact-version {
  width:   100%;
  font-size: 75%;
  border:  0px solid #444444;
  padding: 0px;
  margin:  0px;
}
#summary-timeline-compact-version .container {
  position: relative;
  margin: 10px 50px 10px 20px;
}

#summary-timeline-compact-version .column {
  display: inline-block;
  /*border:  1px solid #FC0000;*/
  background-color: white;
  vertical-align: middle;
  height:    100%;
  width:     100%;
  padding: 0px;
  margin:  0px;
}
#summary-timeline-compact-version .left {
    width: 25px;
    position: absolute;
    top: 0;
    left: 0;
}
#summary-timeline-compact-version .right {
    margin-left: 25px;
}
#summary-timeline-compact-version .row {
  /*display: table-row;*/
  display: inline-block;
  border:  0px solid #FC0000;
  padding: 0px;
  margin:  0px;
  width: 100%;
  vertical-align: middle;
}
#summary-timeline-compact-version .time {
  display: inline-block;
  height: 20px;
  border-left: solid #DDDDDD;
  border-left-width: 1px;
  /*padding: 0px 1px;*/

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#summary-timeline-compact-version .tasks {
  height: 70px;
  border: 0px solid #dddddd;
}
#summary-timeline-compact-version .cell-border {
  display: inline-block;
  border:  0px solid #FC0000;
  background-color: blue;
  vertical-align: middle;
  height:    70px;
  padding: 0px;
  margin:  0px;
}
#summary-timeline-compact-version .cell-body {
  display: inline-block;
  border:  1px solid #FC0000;
  background-color: white;
  vertical-align: middle;
  height:    100%;
  width:     100%;
  padding: 0px 1px;
  margin:  0px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*#summary-timeline-compact-version .header-group { 
  display: table-header-group; 
}
#summary-timeline-compact-version .row-group { 
  display: table-row-group; 
}
#summary-timeline-compact-version .footer-group { 
  display: table-footer-group; 
}
#summary-timeline-compact-version .column { 
  display: table-column; 
}
#summary-timeline-compact-version .column-group { 
  display: table-column-group; 
}
#summary-timeline-compact-version .caption { 
  display: table-caption; 
}
#caption {
  caption-side: top;
}*/

table.summary-timeline-full-version {
  width:       100%;
  border:     1px solid #220000;
  /*background: #f5fffa;*/
  /*margin:     0 1% 0 0;*/
  /*padding:    5px;*/
}
table.summary-timeline-full-version th {
  border:     1px solid #0000FF;
}
table.summary-timeline-full-version td {
  border:     1px solid #00FF00;
}
table.summary-timeline-full-version tr {
  border:     1px solid #FF0000;
}








/* OLD REFERENCE MATERIAL BELOW */


/*.summary-timeline .item {
  float: left;
}

.item,
.item-content {
    background: #eee;
}

.item {width: 300px; 
  border: none;
  background: transparent;
  margin: 0px 10px 10px 0px;
}

.item.w2 { width: 610px; }

.item-content {
  height: 200px;
  width: 100%;
  padding: 0px 0px 0px 0px;
  border: 0px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
}*/

/* COMMENTED OUT HOVER COLOR CHANGING
.item:hover .item-content {
  border-color: white;
  background: #A2C;
  cursor: pointer;
}*/


/* COMMENTED OUT RESIZING FUNCTIONALITY
.item.is-expanded,
.item.is-expanded .item-content {
  width: 620px;
}

.item.is-expanded {
  z-index: 2;
}

.item.is-expanded .item-content {
  background: #F90;
}
*/

/* Boxes like "Featured Article", "Random OCAD" and "Tutorials" on main page, default is green */
/*table.main-page-box {
  width:       100%;
  border:     1px solid #cef2e0;
  background: #f5fffa;
  margin:     0 1% 0 0;
  padding:    5px;
}
table.main-page-box th {
  color:      black;
  padding:    10px 7px 10px 7px;
  background: #cef2e0;
  border:     1px solid #a3bfb1;
  text-align: left;
  font-size:  130%;
}
table.main-page-box td {
  padding:    8px 2px 0px 2px;
  font-size:      110%;
  vertical-align: top;
}
table.main-page-box-orange {
  border:       1px solid #ffcc99;
  background:   #fff5eb;
}
table.main-page-box-orange th {
  background:   #ffc299;
  border:       1px solid #cc5200;
}
table.main-page-box-yellow {
  background:   #FFFBCC;
  border:       1px solid #FFF25A;
}
table.main-page-box-yellow th {
  background:   #FFF582;
  border:       1px solid #FFF25A;
}
table.main-page-box-blue {
  border:       1px solid #cedff2;
  background:   #f5faff;
}
table.main-page-box-blue th {
  background:   #cedff2;
  border:       1px solid #a3b0bf;
}
table.main-page-box-white {
  border:       1px solid #aaaaaa;
  background:   #f7f7fb;
}
table.main-page-box-white th {
  background:   #eeeeee;
  border:       1px solid #cccccc;
}
table.main-page-box-purple {
  border:       1px solid #9988aa;
  background:   #f7f7fb;
}
table.main-page-box-purple th {
  background:   #9999cc;
  border:       1px solid #9988cc;
}*/


