/**
 * This CSS file supplements MediaWiki:Common.css
 * This styling is for the output of the SummaryTimeline parser function
 */

body { 
  font-family: sans-serif; 
}

.summary-timeline-compact-version {
  width:   100%;
  font-size: 75%;
  border:  0px solid #444444;
  padding: 0px;
  margin:  0px 0px 0px 0px;
}
.summary-timeline-compact-version .container {
  position: relative;
  margin: 5px 50px 10px 10px;
  padding: 0px;
}
.summary-timeline-compact-version .color-key {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  padding: 0px;
  border: 1px solid #000000;
}
.summary-timeline-compact-version .column {
  display: inline-block;
  /*border:  1px solid #FC0000;*/
  background-color: white;
  vertical-align: middle;
  height:    100%;
  width:     100%;
  padding: 0px;
  margin:  0px;
}
.summary-timeline-compact-version .left {
    width: 25px;
    position: absolute;
    top: 3px; /*Adjust for borders above*/
    left: 0px;
}
.summary-timeline-compact-version .right {
    margin-left: 25px;
}
.summary-timeline-compact-version .summary-timeline-row {
  display: inline-block;
  border:  0px solid #000000;
  padding: 0px;
  margin:  0px;
  width: 100%;
  vertical-align: middle;
}
.summary-timeline-compact-version .time {
  display: inline-block;
  height: 20px;
  border-left: solid #BBBBBB;
  border-left-width: 1px;
  padding: 0px 1px;
  float: left;
  margin-right: -100%;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.summary-timeline-compact-version .tasks {
  height: 70px;
  border: 0px solid #dddddd;
  line-height: 70px;
}
.summary-timeline-compact-version .task-block {
  float: left;
  margin-right: -100%;
  font-family: arial;
  font-size: 8pt;
  text-align: center;
}
.summary-timeline-compact-version .cell-border {
  display: inline-block;
  border:  0px solid #BBBBBB;
  background-color: blue;
  vertical-align: middle;
  /*line-height: 70px;*/
  height:    70px;
  padding: 0px;
  /*margin:  0px;*/
}
.summary-timeline-compact-version .cell-body {
  display: inline-block;
  border:  1px solid #000000;
  background-color: white;
  vertical-align: middle;
  line-height: normal;
  /*height:    100%;*/
  height:    70px;
  width:     100%;
  padding: 0px 0px;
  margin:  0px;
  /*min-width: 400px;*/
  /*overflow: hidden; */
  /*text-overflow: ellipsis*/

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.summary-timeline-compact-version .responsive-text {
  margin: 0px 1px;
}
.summary-timeline-compact-version .footer {
  /*border:  0px solid #BBBBBB;*/
  /*border-top: solid #BBBBBB;*/
  /*border-top-width: 1px;*/
  padding: 0px;
  margin:  0px;
  width:   100%;
}
.summary-timeline-compact-version .footer-column {
  float: left;
  display: inline-block;
  border:  0px solid #BBBBBB;
  padding: 0px;
  margin-top:  0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  /*width:   100%;*/
}


/* TASK BLOCK COLORS */
.summary-timeline-compact-version .gray {
  background-color:   #E6E6E6;
}
.summary-timeline-compact-version .white {
  /*border:       1px solid #aaaaaa;*/
  background-color:   #FFFFFF;
}
.summary-timeline-compact-version .red {
  background-color:   #FF1F1F;
}
.summary-timeline-compact-version .orange {
  background-color:   #FF9830;
}
.summary-timeline-compact-version .yellow {
  background-color:   #FFF582;
}
.summary-timeline-compact-version .blue {
  background-color:   #5496FF;
}
.summary-timeline-compact-version .green {
  /*border-top:  5px solid   #5CE070;*/
  background-color:   #5CE070;
}
.summary-timeline-compact-version .pink {
  background-color:   #FF69A0;
}
.summary-timeline-compact-version .purple {
  background-color:   #C757FF;
}



.summary-timeline-full-version {
  width:   100%;
  font-size: 100%;
  border:  0px solid #220000;
  padding: 0px;
  margin:  0px 0px 0px 0px;
}
.summary-timeline-full-version .container {
  position: relative;
  /*border:  1px solid #444444;*/
  margin: 0px 50px 10px 20px;
  padding: 0px;
}
.summary-timeline-full-version .container:before{
  content: "";
  display: block;
  /*padding-top: 60%;   This keeps the container to a set aspect ratio*/
}
/*Commented out until this is split to one-page version*/
/*.summary-timeline-full-version .content{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}*/
.summary-timeline-full-version .summary-timeline-row {
  display: inline-block;
  border:  1px solid #000000;
  padding: 0px;
  margin:  0px;
  width: 100%;
  vertical-align: top;
}
.summary-timeline-full-version .summary-timeline-column {
  display: inline-block;
  /*height: 20px;*/
  /*border-left: 1px solid #000000;*/
  /*border-right: 1px solid #000000;*/
  padding: 0px;
  float: left;
  margin-right: -100%;
  /*margin-left: 0px;*/
}
.summary-timeline-full-version .summary-timeline-header {
  /*display: inline-block;*/
  height: 20px;
  /*border: 1px solid #000000;*/
  /*padding: 0px 2px 0px 2px;*/
  /*float: left;*/
  /*margin-right: -100%;*/
  /*margin-left: 0px;*/
  text-align: center;
}
.summary-timeline-full-version .summary-timeline-body {
  /*display: inline-block;*/
  /*height: 20px;*/
  /*border: 1px solid #000000;*/
  padding: 0px 2px 0px 2px;
  /*float: left;*/
  margin: 0px;
  text-align: left;
}





/*table.summary-timeline-full-version {*/
  /*width:       100%;*/
  /*border:     1px solid #220000;*/
  /*background: #f5fffa;
  /*margin:     0 1% 0 0;*/
  /*padding:    5px;*/
/*}*/
table.summary-timeline-full-version th {
  /*border:     1px solid #0000FF;*/
}
table.summary-timeline-full-version td {
  /*border:     1px solid #00FF00;*/
}
table.summary-timeline-full-version tr {
  /*border:     1px solid #FF0000;*/
}











/* OLD REFERENCE MATERIAL BELOW */


/* COMMENTED OUT HOVER COLOR CHANGING
.item:hover .item-content {
  border-color: white;
  background: #A2C;
  cursor: pointer;
}*/


/* COMMENTED OUT RESIZING FUNCTIONALITY
.item.is-expanded,
.item.is-expanded .item-content {
  width: 620px;
}

.item.is-expanded {
  z-index: 2;
}

.item.is-expanded .item-content {
  background: #F90;
}
*/



